<h2 class="text text-center">Edit users</h2>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Avatar</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Count of hotels</th>
    </tr>
  </thead>
  <tbody>

    <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td>
        <%= image_tag user.avatar.url, alt: 'avatar', style: 'height:30px'%>
      </td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><count-of-hotels :count_in="<%= user.count_of_hotels %>" :user_id_in="<%= user.id %>"></count-of-hotels></td>
    </tr>
    <% end %>
  </tbody>
</table>
