<h2 class="text text-center"><u>All</u> tours</h2>
<div class="">
  <% if @location_filter %>
    <filter-tours :sort_in="<%= @sorting_filter %>" :location_in="<%= @location_filter.id %>"
      :region_in="'<%= @location_filter.region %>'" :searching_string_in="'<%= @searching_string %>'"></filter-tours>
  <% else %>
    <filter-tours :sort_in="<%= @sorting_filter %>" :searching_string_in="'<%= @searching_string %>'"></filter-tours>
  <% end %>
</div>

<div class="card-columns">
  <%= render @tours %>
</div>

<% if @tours.length == 0 %>
<div class="alert alert-warning" role="alert">
Not founded any tour.
</div>
<% end %>

<div class="text-center">
  <%= will_paginate @tours, renderer: BootstrapPagination::Rails %>
</div>
