<%= link_to '<- Tours', tours_path, class: 'btn btn-light' %>
<%= link_to 'Find hotel by location', hotels_path(location_id: @tour.location.id), class: 'btn btn-info float-right', style: 'margin: 0 10px 0 0' %>
<h2 class="text-center">Tour</h2>
<div class="card">
  <div class="card-header">
    <h3 class="text-primary"><%= @tour.name %>
      <%= link_to image_tag('pencil.png', alt: 'edit button', style: 'height:20px'), edit_tour_path(@tour), class: 'btn btn-warning' if current_user.id == @tour.creator_id %>
    </h3>
  </div>
  <div class="card-body">
    <%= image_tag(Tour.main_image(@tour.image_id).image, alt: 'Image',
        style: 'height:250px;border-radius:5px;margin:10px') if @tour.image_id? %>
    <p class="text-info"><%= @tour.description %></p>
    <blockquote class="blockquote mb-0">
      <p>Location: <%= @tour.location.name %>, <%= @tour.location.region %> <%= link_to '(on map)',
        "https://www.google.com.ua/maps/place/#{@tour.location.name}", target: :_blank %></p>
      <p>Number of savings: <%= @num_of_savings %></p>
      <p>Updated: <%= @tour.updated_at.to_date %></p>
    </blockquote>
    <% result_creator = creator_exists(@tour.creator_id) %>
    <% if result_creator %>
    <p>Author: <%= link_to result_creator.username, user_show_path(result_creator) %></p>
    <% end %>
  </div>
</div>

<p></p>
<div class="card">
  <div class="card-header">
    Weather
  </div>
  <div class="card-body">

    <blockquote class="blockquote mb-0">
      <p>Temperature: <%= @weather['temperature'] %> &#176;C</p>
      <p>Humidity: <%= @weather['humidity'] %>%</p>
      <footer class="blockquote-footer">Для ленивой породы никогда нет доброй погоды.</footer>
    </blockquote>
  </div>
</div>


<h4>Comments: </h4>
<adding-comment :in_tour_id="<%= @tour.id %>"></adding-comment>

<h2 class="text-center">Photos:</h2>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @tour.images.each do |imag| %>
    <% if @tour.images.index(imag) == 0 %>
      <div class="carousel-item active">
        <%= image_tag(@tour.images.first.image, alt: 'Image',
        class: "d-block w-100") %>
      </div>
    <% else %>
    <div class="carousel-item">
      <%= image_tag(imag.image, alt: 'Image',
      class: "d-block w-100") %>
    </div>
    <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
