<h2>Tour: <%= @tour.name %></h2>
<%= image_tag(@tour.image.image, alt: 'Image',
    style: 'width:150px; height:150px;border-radius:5px') if @tour.image_id? %>
<img src="<%= @tour.image %>" alt="">
<p>Description: <%= @tour.description %></p>
<p>Location: <%= @tour.location.name %></p>
<p>Created: <%= @tour.updated_at %></p>
<h4>Photos:</h4>
<% @tour.images.each do |imag| %>
<%= image_tag(imag.image, alt: 'Image',
    style: 'width:100px; height:100px;border-radius:5px') %>
<% end %>
