<%= link_to image_tag('back_button', alt: 'back', style: 'height:40px'), :back %>
<%= link_to 'Как добавить мой отель?', hotel_info_path, class: 'float-right btn btn-link' %>
<h1 class="text-center">Отели
</h1>
<hr>
  <% if @location %>
    <filter-hotels :region_in="'<%= @location.region %>'" :location_in="<%= @location.id %>"></filter-hotels>
  <% else %>
    <filter-hotels></filter-hotels>
  <% end %>
<hr>
<% if @hotels.length != 0 %>
  <div class="card-columns">
    <%= render @hotels %>
  </div>
<% else %>
  <h3 class="text-center text-warning">Нет ни одного отеля по этой локации.</h3>
<% end %>
<div class="text-center">
  <%= will_paginate @tours, renderer: BootstrapPagination::Rails %>
</div>
