<%= link_to image_tag('back_button', alt: 'back', style: 'height:40px;margin:15px'), plans_path %>

<edit-plan :plan_in_id="<%= @plan.id %>" :plan_in_name="'<%= @plan.name %>'"></edit-plan>

<% if @plan.plan_points.empty? %>
  <h4 class="text text-center text-warning" style="margin: 20px">Вы не имеете никаких туров. Добавьте их!</h4>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Фото</th>
        <th scope="col">Тур</th>
        <th scope="col">Дата</th>
        <th scope="col">Время с</th>
        <th scope="col">Время по</th>
        <th scope="col">Локация</th>
        <th scope="col">Действия</th>
      </tr>
    </thead>
    <tbody>

      <% @plan.plan_points.each do |pp| %>
      <tr>
        <th scope="row"><img src="<%= Tour.main_image(pp.tour.image_id).image %>" alt="" style="height:100px"></th>
          <td><h4><%= link_to pp.tour.name, pp.tour %></h4></td>
          <td><%= pp.day_date.to_date %></td>
          <td><%= pp.from_time.to_s(:time) %></td>
          <td><%= pp.to_time.to_s(:time) %></td>
          <td><%= pp.tour.location.name %>, <%= pp.tour.location.region %></td>
          <td><%= link_to 'удалить', plan_plan_point_path(@plan, pp), method: :delete, data: { confirm: "Вы уверенны?" }, class: 'btn btn-danger' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="text text-center">
  <%= link_to 'Добавить тур', new_plan_plan_point_path(@plan), class: "btn btn-primary btn-lg btn-block" %>
</div>
